.project-card-container{
    border: 1px solid lightgrey;
    margin-top: 20px;
    padding: 10px;

    .card-img-top{
        width: 100%;
        height: auto;
    }

    .card-title{
        font-weight: bold;
    }

    .card-text{
        text-align: justify;
    }
}